@mixin alignStart {
  text-align: start;
}

.sign-in {
  height: 75%;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 350px 0px;
  padding: 20px 80px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #ffffff;

  .title {
    font-size: 3rem;
    @include alignStart();
  }

  .subtitle {
    font-size: 1.5rem;
    @include alignStart();
  }

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}
